<!-- details.ejs -->
<html>
  <head>
    <title>Message Details</title>
  </head>
  <body>
    <h1>Message Details</h1>
    <p><strong>User:</strong> <%= message.user %></p>
    <p>Message: <%= message.text %></p>
    <p>Added: <%= message.added %></p>

    <a href="/">Go back to the homepage</a>
  </body>
</html>
