<!-- form.ejs -->
<html>
  <head>
    <title>Create Form</title>
    <link rel="stylesheet" href="/styles.css"">
  </head>
  <body>
    <h1>Add a new message</h1>
    <form method="POST" action="/new">
      <label for="currentUser">Name:</label>
      <input type="text" id="currentUser" name="currentUser" required>
      
      <label for="currentMessage">Message:</label>
      <textarea id="currentMessage" name="currentMessage" required></textarea>
      
      <button type="submit">Submit</button>
    </form>
    
  </body>
</html>
