<!-- form.ejs -->
<html>
  <head>
    <title>Create Form</title>
    <link rel="stylesheet" href="/styles.css">
  </head>
  <body>
    <h1>Add a new message</h1>
    <form method="POST" action="/new" id="newMessage">
      <label for="currentUser">Name:</label>
      <input type="text" id="currentUser" name="currentUser" required maxlength="50">
      
      <label for="currentMessage">Message:</label>
      <textarea id="currentMessage" name="currentMessage" required maxlength="750"></textarea>
      
      <button type="submit">Submit</button>
    </form>

    <button><a href="/">Go back to the homepage</a></button>
    
  </body>
</html>
