<html>
  <head>
    <title>About</title>
  </head>
  <body>
    <%- include('navbar', { links: links }); %>

    <ul>
      <li>This website is one of the websites in the world.</li>
      <li><%- message %></li>
    </ul>

    <%- include('footer'); %>
    
  </body>
</html>
